extends ../layout/main

include ../mixins/boardBlock

block content
    if pages
        each item in board
            if page === String(item.pages)
                +boardBlock({
                    id: item.id,
                    title: item.title
                })
    -for(let i=pages; i>0 && i<=pages; i--)
        ul.board__pageNumber
            a(href=`/board${routes.boardMain((pages+1)-i)}`)
                li #{(pages+1)-i}
    a(href=`/board${routes.boardWrite}`)
        button Write