extends ../layout/main

include ../mixins/boardBlock
block content
    if boards.length === 0
        p Not Found Result about #{term}
    else
        .search__term #{term}에 대한 검색결과입니다
        each item in boards
            +boardBlock({
                id: item.id,
                title: item.title
            })