extends ../../layout/main.pug

block content
    form.homeSearch__form(action=routes.search, method="get")
        input(type="text", name="term", placeholder="Write search term")
        input(type="submit", value="search")